//registry.npmjs.com/:_authToken=618061c6cd9f993c1b3a8f86ceaa93151b5aa264
https://reg.example.com=
https://registry.npmjs.org/guid=
//https://registry.npmjs.org/guid/:_authToken=618061c6cd9f993c1b3a8f86ceaa93151b5aa264
@myco:registry=https://registry.npmjs.org/guid
//registry.npmjs.org/:_authToken=618061c6cd9f993c1b3a8f86ceaa93151b5aa264
@admin:registry=https://registry.npmjs.org/guid
registry=https://registry.npmjs.org/guid
