<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser"
      >Logout</a
    >
  </div>
</nav> -->

<!-- main app container -->
<div class="row">
  <div class="nav-left">
    <div class="user-pic">
      <a href="#">
        <img src="../assets/images/user_left_nav2.png" />
        <div>Mateusz Dembek</div>
      </a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href=""
            ><i class="fas fa-tachometer-alt"></i
            ><span>Dashboard<span></span></span
          ></a>
        </li>
        <li>
          <a href=""
            ><i class="far fa-file-alt"></i><span>Files<span></span></span
          ></a>
        </li>
        <li>
          <a href=""
            ><i class="far fa-newspaper"></i><span>News<span></span></span
          ></a>
        </li>
        <li>
          <a href=""
            ><i class="fas fa-user-friends"></i><span>Users<span></span></span
          ></a>
        </li>
        <li>
          <a href=""
            ><i class="fas fa-info-circle"></i><span>FAQ<span></span></span
          ></a>
        </li>
        <li>
          <a href=""
            ><i class="far fa-life-ring"></i><span>Help<span></span></span
          ></a>
        </li>
        <li>
          <a href=""
            ><i class="fas fa-cog"></i><span>Settings<span></span></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main">
    <nav class="nav-top">
      <!-- <span class="fas fa-camera" style="color: #394959;"></span> 
        <i class="far fa-address-book"></i> -->
      <!-- <svg><use xlink:href="../assets/styles/globe-europe-solid.svg#globe-europe"></use></svg> -->
      <a>
        <img src="../assets/images/lang_select.png" />
      </a>
      <a (click)="logout()" *ngIf="currentUser">
        <img src="../assets/images/logout.png" />
      </a>
    </nav>

    <router-outlet></router-outlet>

   
  </div>
</div>
