<body cz-shortcut-listen="true">
  <header class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">נתיב</a>
  </header>
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">sidebar</div>
      <main
        class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content"
        role="main"
      >
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <!-- <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Search</label>
        <input
          type="text"
          class="form-control"
          id="inputPassword2"
          placeholder="Search"
        />
      </div>
      <button type="submit" class="btn btn-primary mb-2">
        Search
      </button>
    </form> -->
</body>
