body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: white;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

h2 {
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.nav-left {
  flex: 16%;
  background-color: #293c4e;
  padding: 20px 0px 20px 0px;
}
.nav-top {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e2e7;
  text-align: right;
  padding: 18px 4% 12px;
}

.main .user-list {
  float: left;
  padding: 0 5%;
  width: 54%;
}
.main .user-list + img {
  width: 49px;
  height: 49px;
}
.main .user-list > h4 {
  color: #293c4e;
  margin: 16px 0 13px;
}

.main .user-list > div > a > span {
  color: #334f6b;
  padding: 20px;
}

.main .user-list > div > a {
  width: 240px;
  display: inline-block;
  margin-bottom: 20px;
  border: solid 1px #fff;
  border-radius: 30px 30px 30px 30px;
}
.main .user-list > div > a > img {
  vertical-align: middle;
}
.main .user-list > div > a:hover {
  border-color: #d9d9d9;
  background: #f9f9f9;
}

.main .user-list > p {
  font-size: 0.75em;
  color: #7e83ab;
}

.main .selected-area {
  width: 46%;
  float: left;
}
.main .selected-area > img {
  width: 100%;
}
.main {
  flex: 82%;
  background-color: white;
  padding: 0px;
}
* {
  box-sizing: border-box;
}

.nav-left .user-pic > a > img {
  border-radius: 50%;
  border: 2px solid;
  /* object-fit: cover;
  object-position: center right; */
}

.nav-left .nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-left .nav {
  padding: 0 20px;
  font-size: 0.8em;
}

.nav-left .nav li:hover {
  background-color: #223342;
  border-right: 5px solid #f29c28;
}

.nav-left .nav li > a > span {
  padding: 0 20px;
}

.nav-left .nav {
  padding: 50px 0;
}

.users {
  font-weight: 600;
  margin-top: 87px;
}

.nav-left .nav li {
  height: 50px;
  padding: 15px 0 15px 14%;
  transition: background-color 1s;
}
.nav-left .nav li > a {
  padding-left: 10px;
}
.nav-left .user-pic {
  text-align: center;
}

.nav-left .user-pic > a > div {
  padding: 20px 0;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}

.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #d9d9d9 solid;
  padding: 10px 5px 10px 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.corner {
  position: absolute;
  top: 6px;
  right: 5px;
  height: 25px;
  width: 29px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: #d9d9d9; /* Set the bg image here. with "no-repeat" */
}

.search {
  position: relative;
  float: left;
  width: 50%;
  height: 54px;
  outline: -2px;
}

.search :focus {
  outline: none;
}

button.btn-m {
  cursor: pointer;
  font-weight: 500;
  line-height: 40px;
  position: relative;
  display: inline-block;
  min-width: 120px;
  height: 37px;
  padding: 0 1rem;
  text-align: center !important;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  border: none !important;
  border-radius: 6px !important;
  background: #293c4e;
  -webkit-box-shadow: inset 0 0 0 1px rgba(50, 50, 93, 0.1),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 0 0 1px rgba(50, 50, 93, 0.1),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

div.add-user {
  float: right;
}

.image-cropper {
  width: 453px;
  height: 356px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  /* margin-left: -25%; centers the image */
  height: 100%;
  width: auto;
}

.svg-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
}
.svg-in {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main .user-list > div.users > a > img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

/* Material style  */
/* Material style  */
/* Material style  */
/* Material style  */
form {
  width: 50%px;
  /* margin: 45px 45px; */
}
.main > app-users > div.user-list > div:nth-child(3) > div:nth-child(1) > form {
  margin: 0px;
}
body > app > div > div.main > app-users > div.selected-area > div.user-data {
  padding: 0 10%;
}

form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2196f3;
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}
form hr.sep {
  background: #2196f3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  /* position: absolute; */
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196f3;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #293c4e;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-submit {
  background: #2196f3;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main .user-list {
    float: left;
    padding: 0 5%;
    /* width: 54%; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main .user-list {
    float: left;
    padding: 0 5%;
    /* width: 54%; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main .user-list {
    float: left;
    padding: 0 5%;
    /* width: 54%; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
